# Keycloak
{$DOMAIN_KEYCLOAK}:443 {
  log {
    level INFO
    output file {$LOG_KEYCLOAK} {
    roll_size 10MB
    roll_keep 10
    }
  }
  tls {$EMAIL_KEYCLOAK}
  encode gzip

  reverse_proxy {$HOSTNAME_KEYCLOAK}
}

# NestJS (API)
{$DOMAIN_NESTJS}:443 {
  log {
    level INFO
    output file {$LOG_NESTJS} {
    roll_size 10MB
    roll_keep 10
    }
  }
  tls {$EMAIL_NESTJS}
  encode gzip

  reverse_proxy {$HOSTNAME_NESTJS}
}
